@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #2b303a;
}

.shrink-with-page {
  font-size: calc(16px + 1vw);
}

.header {
  margin-left: auto;
  margin-right: auto;
}

.gray {
  color: gray;
}

/* /////////// NAVBAR /////////// */

.site-title {
  height: 20px;
}

.site-title-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  height: 40px;
  background-color: #2b303a;
  color:aliceblue;
  display:flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}


.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav li {
  padding: 10px;
  margin-right: -16px;
  font-size: small;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  text-decoration: underline;
}

.nav li:hover {
  text-decoration: underline;
}

/* ////////// HOME ////////// */

/* .Home {
  display: grid;
  place-items: center;
} */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.meal--list {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  display: flex;
  overflow-y: scroll;
  justify-content: space-between;
  gap: 0.5rem;
}

.meal--card {
  color: black;
  background-color: rgb(184, 183, 188);
  padding: 5p 5px;
  display: flex;
  flex-direction: column;
  width: 150px;
  padding: 5px;
  border-radius: 2px;
  border: #333;
}

.meal--card-image {
  border-radius: 2px;
}

.meal--card:hover {
  background-color: #eaeaec;
}

.meal--card-title {
  max-height: 37px;
  text-align: center;
  overflow: hidden;
}

.search-button {
  padding-bottom: 15px;
}

.selected-meal--card {
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  background-color: #eaeaec;
  border-radius: 2px;
  overflow: hidden;
}

.selected-meal--image {
  height: 100%;
  width: 100%;
  border-radius: 2px;
}

/* sign up  */

.signup-login--page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0,0,0,0.4);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a, a:visited {
  color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
font-family: 'Nunito', sans-serif;
font-size: 22px;
padding: 0.25rem;
border-radius: 0.5rem;
}

label,
button {
margin-top: 1rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}